
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <a href="/">トップに戻る</a>
        <ul class="table-body">
          <% purin_type2.forEach((purin) => { %>
            <li>
                <span><%= purin.name %></span>
                <span><%= purin.username %></span>
            </li>
            <% }) %>
        </ul>
  </body>
</html>
