<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>アンケートの回答終了</title>
  </head>
  <body>
    <h4>アンケートに答えてくださりありがとうございました。</h4>
    <p>ここにアンケート結果のグラフとかが実装できたらいいなと思いますが、まだまだ勉強不足なので時間がかかるかな...</p>
    <a href="/purin3">今までのアンケート結果一覧</a>
  </body>
</html>
