<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/purin1.css">
<title>プリンに関するアンケート調査</title>
</head>
<body>

<form action="/purin2" method ="post">
  <h4>どんなプリンが好きか教えてください</h4>
    <input type="radio" name="purinname" value="やわらかぷりん">やわらかぷりん
    <input type="radio" name="purinname" value="なめらかぷりん">なめらかぷりん
    <input type="radio" name="purinname" value="かためのぷりん">かためのぷりん
    <input type="radio" name="purinname" value="みっちりぷりん">みっちりぷりん
  <h4>ユーザー名を教えてください</h4>
    <input type="text" name="username" value="ゆーざーめい">
    <input type="submit"  value="送信">
  

</form>
<p>アンケートの集計機能が働くかどうかの動作確認のため、骨組みだけです。</p>


</body>
<html>
